<div>
    <form>
        <h1>Que juguito quiere?</h1>
        <input ng-model="input">

        </input>
        <br>
        <div flex>
            <br>
            <table>
                <tr>
                </tr>
                <tr ng-repeat="item in lista">
                    <td>{{item.name}}</td>

                </tr>
            </table>
        </div>
        <br>
        <footer>
            <button class="button" ng-click="$ctrl.crearTarea()">
                Agregar</button>
            <button class="button" ng-click="$ctrl.limpiarLista()">
                Limpiar lista</button>
            <button class="button" ng-click="$ctrl.enviarLista()">
                Enviar</button>
        </footer>
    </form>
</div>